html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

body {
  font-size: 1.2em;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #0b7e9d), color-stop(100%, #12c7f4));
  background-image: -webkit-linear-gradient(left top, #0b7e9d, #12c7f4);
  background-image: -moz-linear-gradient(left top, #0b7e9d, #12c7f4);
  background-image: -o-linear-gradient(left top, #0b7e9d, #12c7f4);
  background-image: linear-gradient(left top, #0b7e9d, #12c7f4);
}

[class^=inner] {
  *zoom: 1;
  max-width: 71em;
  _width: 71em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}
[class^=inner]:after {
  content: "";
  display: table;
  clear: both;
}

header[role="banner"], footer[role="contentinfo"] {
  width: 100%;
  display: block;
}

@media (min-width: 47em) {
  nav[role="navigation"] {
    width: 23.94366%;
    float: left;
    margin-right: 1.40845%;
  }
}

@media (min-width: 47em) {
  .main-content {
    width: 74.64789%;
    float: right;
    margin-right: 0;
    overflow: hidden;
  }
}
.main-content p, .main-content fieldset {
  margin: .5em 25px;
  background: #d8ddb2;
  padding: 10px;
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
  border-style: solid;
  border-color: #0b7e9d;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

footer {
  clear: both;
  position: absolute;
  bottom: 0px;
  height: 50px;
  width: 100%;
  background-color: #616380;
}
