header[role="banner"],footer[role="contentinfo"] {
  width: 100%;
  display: block;
}
nav[role="navigation"] {
  width: 25%;
  float: left;
}
.main-content {
  width: 70%;
  float: right;
}
footer {
  clear: both;
  position: absolute;
  bottom: 0px;
  height: 50px;
  width: 100%;
  background-color: #616380;
}

