//Toute classe commençant par inner utilise la grille
[class^=inner]{
  @include container;
  @include susy-grid-background;
}


header[role="banner"],footer[role="contentinfo"] {
  width: 100%;
  display: block;
}
nav[role="navigation"] {
  @include at-breakpoint($M){
    @include span-columns(3,12);
  }
}
.main-content {
  @include at-breakpoint($M){
    @include span-columns(9 omega,12);
  }
}
footer {
  clear: both;
  position: absolute;
  bottom: 0px;
  height: 50px;
  width: 100%;
  background-color: #616380;
}

