
// Les couleurs
$color1: #0b7e9d; //Bleu Clair
$color2:#12c7f4; //Bleu très clair
$color3: #f3f8cb; //Blanc cassé
$colorP:#4c57ff;
$colorS1:#2267e8;
$colorS2:#4d1ce8;
$colorE1:#3cbaff;
$colorE2:#be70ff;



// Variables pour la grille dynamique Susy
$total-columns : 12;  //12 collonnes pour la grille
$column-width : 5em;  //largeur de chaque colonnes
$gutter-width : 1em;  // espace entre les colonnes
$grid-padding : $gutter-width;  // espace autour de la grille

// Breakpoints
$M:47em;
$L:75em;